# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
server/node_modules
web/node_modules
# testing
/coverage

# next.js
/.next/
web/.next
/out/

# production
/build
*.exe
server/bin/

# misc
.DS_Store
*.pem
*.db
*.db-shm
*.db-wal
server/uploads/
web/public/uploads/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
